
<first-layout>
  <div class="content-body">
    <div class="container">
      <div class="sidebar">
        <ul>
          <li *ngFor="let color of colors">
            <a (click)="changeColor(color)"
              [class.selected]="currentColor === color">
              <i class="fa-solid fa-droplet" [style.color]="color"></i>
              Color Item</a>
          </li>
        </ul>
      </div>
      <div class="content">
        <div class="header" [style.backgroundColor]="currentColor">
          <h2>{{ title }}</h2>
        </div>
        <product-form
          [selectedProduct]="selectedProduct"
          (formSubmit)="handleFormSubmit($event)"
          (formReset)="handleFormReset()">
        </product-form>
        <product-list
          [products]="products"
          (selectProduct)="handleSelectProduct($event)"
          (deleteProduct)="handleDeleteProduct($event)">
        </product-list>
      </div>
    </div>
  </div>
  </first-layout>
