
.content-body {
  overflow: auto;
  max-height: 90vh;
  padding: 5rem 0 15rem 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

.sidebar {
  float: left;
  min-width: 155px;
  width: 25%;
  padding: 0 20px 20px 20px;
  box-sizing: border-box;
}

.content {
  float: left;
  width: 75%;
  padding-left: 20px;
  box-sizing: border-box;
}

.sidebar ul {
  list-style: none;
  margin-top: 0 !important;
  padding: 0 10px;
}
.sidebar ul li a.selected {
  color:#e69a9a; /* Seçili rengi belirtmek için kenarlık */
}
.sidebar ul li {
  background-color: #f8f9fa;
  padding: 12px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
}
.header{
  background-color: #e69a9a;
  padding: 5px;
  text-align: center;
  color: white;
}
.icon {
  margin-right: 10px;
}

@media screen and (max-width: 1025px) {
  .sidebar {
    display: none !important;
    color: plum;
  }

  .content {
    width: 100%;
    padding-left: 0;
  }
}
